
<div ng-include="'../client/partials/nav.html'"></div>

<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
<div class="mt-5">
  <div class="row">
    <div class="col-6 ">
      <img src="http://localhost:8000/{{img}}" class="img-fluid" alt="...">

    </div>
    <div class="col-6">
      <form>
      {{qty}}
      <p>{{name}}</p> 
      <p>{{dsc}}</p>
      <p>Penerbit: {{publisher}}</p>
      <select class="form-control" name="date" ng-model="date">
        <option>Pillih</option>
        <option ng-repeat="date in dates" value="{{date.id}}">{{date.name}}</option>
      </select>
      <div  class="mt-4">
        <!-- <button class="btn btn-secondary" ng-click='operasi(1)'>-</button> -->
        <input type="number" name="quantity" ng-model="quantity" style="width: 40px;" ng-init="1" value="1" min="1" max="3">
        <!-- <button class="btn btn-secondary" ng-click='operasi(2)'>+</button> -->
      </div>
      <br>
      <button type="submit" ng-click="pesan(id,quantity,date)" class="btn btn-warning mt-3">Pesan</button>

      <br><br>
      <a class="btn btn-primary">{{category}}</a>
      <a class="btn btn-info" >{{author}}</a>
    </form>
    </div>
  </div>
</div>
</div>
