<div ng-include="'../client/partials/nav.html'"></div>

<div ng-hide="loaded">
    <div class="d-flex justify-content-center" style="position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);">
        <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
    </div>
</div>
  <div ng-show="loaded">
    <div class="row mt-5">
        <div class="col-3 m-3" ng-repeat="s in books | filter:search">
            <div class="card" style="width: 18rem;">
                <img src="http://localhost:8000/{{s.img}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{s.name}}</h5>
                  <p class="card-text">{{s.category}}</p>
                  <a ng-click="booksDetail(s.slug)" class="btn btn-primary">{{s.slug}}</a>
                </div>
                <div class="card-footer text-muted">
                    {{s.time}}
                  </div>
              </div>
        </div>
    </div>
  </div>
