<div ng-include="'../client/partials/nav.html'"></div>

<div ng-hide="loaded">
    <div class="d-flex justify-content-center" style="position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);">
        <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
    </div>
</div>
  <div ng-show="loaded">
    <div class="row mt-5">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Books</th>
            <th scope="col">Quantity</th>
            <th scope="col">End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="cart in carts">
            <th scope="row">1</th>
            <td>{{cart.book}}</td>
            <td>{{cart.quantity}}</td>
            <td>{{cart.end_date}}</td>
          </tr>
        </tbody>
      </table>
     


    </div>
    <div class="d-flex justify-content-end">
      <button type="button" ng-click="cekout()" class="btn btn-warning">Pesan</button>
    </div>
  </div>
