<div ng-include="'../client/partials/nav.html'"></div>

<div ng-hide="loaded">
    <div class="d-flex justify-content-center" style="position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);">
        <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
    </div>
</div>
  <div ng-show="loaded">
    <div class="row mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Code</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="history in histories">
            <td>{{history.code}}</td>
            <td>{{history.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
