
<div ng-include="'../client/partials/nav.html'"></div>

<div class="d-flex justify-content-center">
    <div class="card mt-5  w-50">
    <div class="card-header">
      Login
    </div>
    <div class="card-body">
        <center>
        <form>
        
            <div class="form-group">
              <label for="exampleInputEmail1">Code Pengembalian</label>
              <input type="text" class="form-control" id="exampleInputEmail1" ng-model="code" aria-describedby="emailHelp" placeholder="Enter Code">
            </div>
            <button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
          </form>
        </center>
    </div>
  </div>
</div>

<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
  <div class="row mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Code</th>
          <th scope="col">Status</th>
          <th scope="col">Tenggal tgl pengembalian</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="book in books">
          <th scope="row">1</th>
          <td>{{book.book}}</td>
          <td>{{book.status}}</td>
          <td>{{book.end_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
