
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Perpus{{cek}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/#!/books">buku <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!/return-books">Pengembalian</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                kategori
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" ng-repeat="category in categories" ng-click="category(category.id)")>{{category.name}}</a>
              </div>
            </li>
            
          </ul>
          
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" ng-model="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          <span class="navbar-text ml-1" ng-if="$root.cek == null">
            <a href="#!/customers/auth/login"><button type="button" class="btn btn-primary">Login</button></a>
            <a href="#!/customers/auth/register"><button type="button" class="btn btn-info">Regis</button></a>
          </span>
          <span class="navbar-text ml-1" ng-if="$root.cek != null">
            <a  href="/#!/histories"><button type="button" class="btn btn-success">History</button></a>
            <a  href="/#!/carts"><button type="button" class="btn btn-warning">cart</button></a>
            <a href="#!/customers/auth/logout"><button type="button" class="btn btn-primary">Logout</button></a>

          </span>
          
        </div>
      </nav>