<!doctype html>
<html ng-app="mdlTabel">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script/tabel.js"></script>
</head>
<body ng-controller="ctrlTabel">
<div>
   ini tabel
   <label for="">search</label>
   <input type="text" ng-model="search">
   <table border="1">
       <tr>
           <td>title</td>
           <td>author</td>
           <td>year</td>
       </tr>
       <tr ng-repeat="s in books | filter:search">
        <td>{{s.title}}</td>
        <td>{{s.author}}</td>
        <td>{{s.year}}</td>
    </tr>
   </table>
</div>
</body>
</html>