<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
  
<div class="d-flex justify-content-center">

  <div class="card mt-5  w-50">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
      <form>
      
          <div class="form-group">
            <label for="exampleInputEmail1">Email address </label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="email" ng-model="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
         
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" ng-model="password" placeholder="Password">
          </div>
    
          <button type="submit" ng-click="submit()" class="btn btn-primary">Submit</button>
        </form>
  </div>
</div>
</div>
</div>