<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
  <div class="row">
    <div class="col-2">
      <div ng-include="'../admin/partials/nav-kiri.html'"></div>
      </div>
    <div class="col-10">
      <div ng-include="'../admin/partials/nav-atas.html'"></div>
      <div class="container">
        <br>
      <div class="card">
        <div class="card-header">
          Buku
        </div>
        <div class="card-body">
          <form name="myform" method="post" novalidate ng-submit="submit(form.name,form.category_id,form.year,form.author,form.publisher,form.dsc,form.stock)">
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">name</label>
                <input type="text" class="form-control" ng-model="form.name" placeholder="First name">
              </div>
              <div class="col">
                <label for="formGroupExampleInput">author</label>
                <input type="text" class="form-control" ng-model="form.author" placeholder="author">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">category</label>
                <select class="form-control" ng-model="form.category_id">
                  <option selected>Pillih</option>
                  <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                </select>        
              </div>
              <div class="col">
                <label for="formGroupExampleInput">img</label>
                <div class="custom-file">
                  <input type='file' name='file' id='file' />

                </div>  
                <p ng-show="myform.image.$invalid && !myform.image.$pristine" class="help-block">Image/File is required.</p>            
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">publisher</label>
                <input type="text" class="form-control" ng-model="form.publisher" placeholder="publisher">
              </div>
              <div class="col">
                <label for="formGroupExampleInput">year</label>
                <input type="text" class="form-control" ng-model="form.year" placeholder="year">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">stock</label>
                <input type="text" class="form-control" ng-model="form.stock" placeholder="stock">
              </div>
              <div class="col">
                <label for="formGroupExampleInput">dsc</label>
                <input type="text" class="form-control" ng-model="form.dsc"  placeholder="dsc">
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success" >Save</button>
          </form>
        </div>
      </div>


      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
            <th scope="col">category</th>
            <th scope="col">author</th>
            <th scope="col">img</th>
            <th scope="col">publisher</th>
            <th scope="col">year</th>
            <th scope="col">stock</th>
            <th scope="col">dsc</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in books | filter:search" ng-click="selectBook(s)">
            <td>{{s.name}}</td>
            <td>{{s.category}}</td>
            <td>{{s.author}}</td>
            <td><img src="http://localhost:8000/{{s.img}}" width="50" alt="Generic placeholder image"></td>
            <td>{{s.publisher}}</td>
            <td>{{s.year}}</td>
            <td>{{s.stock}}</td>
            <td>{{s.dsc}}</td>
            <td>Action</td>
  
          </tr>
        
        </tbody>
      </table>
    
    </div>
      </div>
  </div>
</div>


  

