<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
  <div class="row">
    <div class="col-2">
      <div ng-include="'../admin/partials/nav-kiri.html'"></div>
      </div>
    <div class="col-10">
      <div ng-include="'../admin/partials/nav-atas.html'"></div>
      <div class="container">
        <br>
      <div class="card">
        <div class="card-header">
          Category
        </div>
        <div class="card-body">
          <form name="myform" method="post" novalidate ng-submit="submit()">
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput">name</label>
                <input type="text" class="form-control" ng-model="form.name" placeholder="category">
              </div>
              
            </div>
            <br>
            <button type="submit" class="btn btn-success" >Save</button>
            <button type="submit" ng-click="delete()" class="btn btn-danger" >Delete</button>

          </form>
        </div>
      </div>


      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">name</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in categories | filter:search" ng-click="select(s)">
            <td>{{s.name}}</td>
          </tr>
        
        </tbody>
      </table>
    
    </div>
      </div>
  </div>
</div>


  

