<div ng-hide="loaded">
  <div class="d-flex justify-content-center" style="position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);">
      <div class="spinner-border text-info"  style="width: 10rem; height: 10rem;" role="status"></div>
  </div>
</div>
<div ng-show="loaded">
  <div class="row">
    <div class="col-2">
      <div ng-include="'../admin/partials/nav-kiri.html'"></div>
      </div>
    <div class="col-10">
      <div ng-include="'../admin/partials/nav-atas.html'"></div>
      <div class="container">
        <br>
      


      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">code</th>
            <th scope="col">Customer</th>
            <th scope="col">Status</th>
         
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in histories | filter:search" ng-click="selectBook(s)">
            <td>{{s.code}}</td>
            <td>{{s.customer}}</td>
            <td>{{s.status}}</td>

          </tr>
        
        </tbody>
      </table>
    
    </div>
      </div>
  </div>
</div>


  

