
  <div class="row">
    <div class="col-2">
      <div ng-include="'../admin/partials/nav-kiri.html'"></div>
      </div>
    <div class="col-10">
      <div ng-include="'../admin/partials/nav-atas.html'"></div>
      <div class="container">
        <br>
        <div class="card">
          <div class="card-header">
            Input Code
          </div>
          <div class="card-body">
            <form name="myform" method="post" novalidate ng-submit="submit()">
              <div class="row">
                <div class="col">
                  <label for="formGroupExampleInput">Code</label>
                  <input type="text" class="form-control" ng-model="form.code" placeholder="Input Code">
                </div>
                
              </div>
              <br>
              <button type="submit" class="btn btn-success" >Save</button>
  
            </form>
          </div>
        </div>


      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">code</th>
            <th scope="col">status</th>
            <th>action</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="s in books | filter:search" ng-click="selectBook(s)">
            <td>{{s.code}}</td>
            <td>{{s.status}}</td>
            <td> <button class="btn btn-warning" ng-click="kembalikan(s.code,s.book_id)">kembalikan</button></td>
          </tr>
        
        </tbody>
      </table>
    
    </div>
      </div>


  

