<nav class="navbar bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/home">Buku</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/category">Category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/endDate">End Date</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/history">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/pengambilanBuku">Pengambilan Buku</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#!/admin/ganteng/inputCode">Input Code Pengembalian</a>
      </li>
    </ul>
  </nav>
</div>