
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Perpus</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link">buku <span class="sr-only">(current)</span></a>
          </li>
        
        </ul>

        <span class="navbar-text ml-1">

          <button type="button" ng-click='logout()' class="btn btn-primary">Logout</button>

        </span>
        
      </div>
    </nav>